---
---
<header>
    <style>
		*{
			user-select: none;
		}
	  </style>
    <h1 id="header_text"><a href="/">mw</a></h1>
    <div class="header_links">
        <a href="/">home</a>
        <a href="/portfolio">projects</a>
        <a href="/about">about</a>
    </div>
</header>