@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Zen+Dots&display=swap');

html {
    background: #132A13;
    color: #ECF39E;
    font-family: 'Space Mono', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

h1 {
    padding-left: 1.5rem;
    padding-top: 0rem;
    margin-top: 0rem;
    font-family: 'Zen Dots', sans-serif;
    font-size: 5rem;
}

/* header stuff */

header a:visited {
    color: #ECF39E;
    text-decoration: none;
}

#header_text {
    text-align: left;
    font-size: 4rem;
    margin: 0;
}

#header_text a { 
    text-decoration: none; 
    color: #ECF39E; 
}

#header_text a:link { 
    color: #ECF39E; 
}

#header_text a:visited { 
    color: #ECF39E; 
}

#header_text a:hover { 
    color: #90A955; 
}

#header_text a:active { 
    color: #90A955; 
}

header {
    background: #31572C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.5rem;
    border-radius: 0px 0px 20px 20px;
    gap: 3rem;
}

.header_links {
    font-family: 'Space Mono', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
    display: flex;
    gap: 3rem;
    margin: 0;
    padding: 0;
}

.header_links a { text-decoration: none !important; }
.header_links a:link { color: #ECF39E; }
.header_links a:visited { color: #ECF39E; }
.header_links a:hover { color: #90A955; }
.header_links a:active { color: #90A955; }

/* homepage stuff */

#homepage_main {
    text-align: center;
    font-size: 8rem;
    margin-top: -5rem;
}

#homepage_greeting {
    margin-left: 6rem;
    margin-top: 1rem;
    font-weight: 700;
    font-family: 'Space Mono', sans-serif;
    text-align: left;
    font-style: italic;
}

#carousel { text-align: center; }

#carousel-text {
    font-weight: 700;
    font-size: 4rem;
    margin: 0rem;
    padding: 0rem;
    margin-top: -6rem;
    font-style: italic;
    transition: opacity 0.4s ease;
}

#quote {
    margin-top: 8rem;
    margin-left: 2rem;
    font-size: 1.625rem;
    max-width: 600px;
    font-weight: 400;
    font-style: italic;
}

#quote_author {
    font-size: 1.5rem;
    font-weight: 700;
    color: #90A955;
}

/* about */

#about_image{
    width: 300px;
    margin-top: 3rem;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    outline: 10px solid #ECF39E;
    outline-offset: 10px;
}

#about_text{
    margin: 3rem;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
}

#extracurriculars{
    margin: 3rem;
    font-size: 1.25rem;
}

#extracurriculars li{
    padding-bottom: 2rem;
    font-size: 1.5rem;
}

#extracurriculars img{
    padding: 1rem;
}

hr {
    border: none;
    height: 3px;
    background-color: #ECF39E;
    border-radius: 5px;
    width: 95%;
}

h2{
    font-style: italic;
    font-size: 3rem;
}


/* projects */

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 24px;
    padding: 32px;
    grid-auto-rows: 500px; 
}

.card {
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
    background: #31572C;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card h3 {
    padding: 12px;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    margin-top: 0.5rem;
    margin-left: 1.25rem;
    padding-bottom: 0.75rem;
    font-style: italic;
}

.card p {
    margin-top: auto;
    margin-left: 1.25rem;
    margin-bottom: 1rem;
}

/* Modal */
#modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#modal.hidden {
    display: none;
}

#modal-content {
    background: #31572C;
    border-radius: 12px;
    padding: 32px;
    max-width: 600px;
    width: 90%;
    position: relative;
}

#modal-content img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}

#modal-desc {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
}

#modal h2{
    margin: 0;
    padding: 0;
    margin-top: -1.5rem;
}


#close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #ECF39E;
}

/* responsive */

@media (max-width: 1024px) {
    h1 { 
        font-size: 5rem; 
        margin: 0;
        padding: 0
    }

    #header_text { 
        font-size: 3rem; 
    }

    .header_links {
        font-size: 2rem;
        gap: 2rem;
    }

    #homepage_main { 
        font-size: 6rem; 
        margin: 0;
        padding: 0;
    }

    #carousel-text { 
        margin: 0;
        padding: 0;
        margin-top: 1rem;
        font-size: 3rem; 
    }

    #quote{
        margin: 0;
        padding: 0;
        margin-left: 1rem;
        margin-top: 10rem;
        font-size: 1.25rem;
    }

    #quote_author{
        font-size: 1.25rem;
    }

}

@media (max-width: 768px) {
    h1 { 
        font-size: 2.5rem; 
    }

    header {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding: 1rem;
    }

    #header_text { 
        font-size: 2.5rem; 
    }

    .header_links {
        font-size: 1.5rem;
        gap: 1.5rem;
        flex-wrap: wrap;
    }

    #homepage_main {
        font-size: 4rem;
        margin-top: -2rem;
    }

    #homepage_greeting {
        margin-left: 2rem;
        font-size: 3rem;
    }

    #homepage_main{
        margin: 0;
        padding: 0;
        font-size: 5rem;
    }

    #carousel-text {
        margin: 0;
        padding: 0;
        font-size: 2rem;
    }

    #quote {
        margin: 0;
        padding: 0;
        margin-top: 10rem;
        margin-left: 1rem;
        font-size: 1rem;
        max-width: 90%;
    }

    #quote_author { 
        font-size: 1rem; 
    }

    #about_image{
        width: 200px;
        margin-top: 3rem;
        outline: 6px solid #ECF39E;
        outline-offset: 6px;
    }

    #about_text{
        margin: 3rem;
        font-size: 1.25rem;
        font-weight: 400;
        font-style: italic;
    }

    #extracurriculars li{
        padding-bottom: 2rem;
        font-size: 1.25rem;
    }

    h2{
        font-style: italic;
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    h1 { 
        font-size: 2rem; 
    }

    #header_text { 
        font-size: 2rem; 
    }

    .header_links {
        font-size: 1.1rem;
        gap: 1rem;
    }

    #homepage_main { 
        font-size: 3.5rem; 
    }

    #homepage_greeting {
        margin-left: 1rem;
        font-size: 2rem;
    }

    #carousel-text {
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
    }

    #quote {
        font-size: 1rem;
        margin-top: 5rem;
    }

    #quote_author { 
        font-size: 1rem; 
    }


    #about_image{
        width: 150px;
        margin-top: 1.5rem;
        outline: 4px solid #ECF39E;
        outline-offset: 4px;
    }

    #about_text{
        margin: 2rem;
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
    }

    #extracurriculars li{
        padding-bottom: 1.5rem;
        font-size: 1rem;
    }

    h2{
        font-style: italic;
        font-size: 1.5rem;
    }
}